/* Font */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;900&display=swap");

/* Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  width: 1440px;
  background-color: hsl(0, 0%, 100%);
  font-size: 18px;
}

/* Container */
.container {
  width: 600px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(78, 33, 202, 0.171);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Result style */
.result {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  width: 100%;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding-top: 35px;
  border-radius: 20px;
}
.result-title {
  color: hsl(241, 100%, 89%);
  margin-bottom: 35px;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.result-score {
  display: block;
  font-size: 55px;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
}
.result-tiny-score {
  display: block;
  font-size: 12px;
  color: hsla(241, 100%, 89%, 0.459);
}
.result-text {
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  margin-bottom: 20px;
}
.result-description {
  color: hsl(241, 100%, 89%);
  flex: 0 0 100px;
  width: 200px;
  margin: auto;
  font-size: 14px;
}
/* Summary Style */
.summary {
  padding-top: 35px;
  margin-left: 30px;
  flex: 1;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}
.summary-title {
  font-size: 20px;
  margin-bottom: 25px;
}
.box {
  display: flex;
  gap: 10px;
}
.score {
  font-weight: 800;
}
.light-text {
  color: #0000003f;
}
.summary-Reaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 100%, 67%, 0.06);
  border-radius: 10px;
  margin-right: 15px;
  padding: 12px 15px;
  margin-bottom: 10px;
  width: 260px;
}

.summ-text-reaction {
  color: hsl(0, 100%, 67%);
  font-weight: 700;
  opacity: 0.7;
  font-size: 16px;
}
.summary-Memory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(39, 100%, 56%, 0.06);
  border-radius: 10px;
  margin-right: 15px;
  padding: 12px 15px;
  margin-bottom: 10px;
  width: 260px;
}
.summ-text-memory {
  color: hsl(39, 100%, 56%);
  font-weight: 700;
  opacity: 0.7;
  font-size: 16px;
}
.summary-Verbal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(166, 100%, 37%, 0.06);
  border-radius: 10px;
  margin-right: 15px;
  padding: 12px 15px;
  margin-bottom: 10px;
  width: 260px;
}
.summ-text-verbal {
  color: hsl(166, 100%, 37%);
  font-weight: 700;
  opacity: 0.7;
  font-size: 16px;
}
.summary-Visual {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(234, 85%, 45%, 0.06);
  border-radius: 10px;
  margin-right: 15px;
  padding: 12px 15px;
  margin-bottom: 10px;
  width: 260px;
}
.summ-text-visual {
  color: hsl(234, 85%, 45%);
  font-weight: 700;
  opacity: 0.7;
  font-size: 16px;
}
.box-btn {
  width: 90%;
  display: flex;
  justify-content: center;
}
.summary-btn {
  border: none;
  border-radius: 25px;
  background-color: hsl(224, 30%, 27%);
  padding: 15px 0;
  color: hsl(0, 0%, 100%);
  width: 250px;
  display: inline-block;
  margin-top: 25px;
  cursor: pointer;
}
.summary-btn:active {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media screen and (max-width: 375px) {
  .container {
    width: 100%;
    height: auto;
  }
  .result-description {
    width: 240px;
    flex: 0 0 70px;
  }
  .box-btn {
    margin-bottom: 15px;
  }
  .score {
    font-size: 16px;
  }
  .summary-title {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .summary-Reaction {
    width: 90%;
    margin-bottom: 20px;
  }
  .summary-Memory {
    width: 90%;
    margin-bottom: 20px;
  }
  .summary-Verbal {
    width: 90%;
    margin-bottom: 20px;
  }
  .summary-Visual {
    width: 90%;
    margin-bottom: 20px;
  }
  .summary-btn {
    display: inline-block;
    margin: 10px 0;
    width: 90%;
    cursor: pointer;
  }
}
@media screen and (max-width: 485px) {
  .container {
    width: 100%;
    height: auto;
  }
  .result-description {
    width: 240px;
    flex: 0 0 70px;
  }
  .box-btn {
    margin-bottom: 15px;
  }
  .score {
    font-size: 16px;
  }
  .summary-title {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .summary-Reaction {
    width: 90%;
    margin-bottom: 20px;
  }
  .summary-Memory {
    width: 90%;
    margin-bottom: 20px;
  }
  .summary-Verbal {
    width: 90%;
    margin-bottom: 20px;
  }
  .summary-Visual {
    width: 90%;
    margin-bottom: 20px;
  }
  .summary-btn {
    display: inline-block;
    margin: 10px 0;
    width: 90%;
    cursor: pointer;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: 90%;
    height: auto;
  }
  .result-description {
    width: 240px;
    flex: 0 0 70px;
  }
  .box-btn {
    margin-bottom: 15px;
  }
  .score {
    font-size: 16px;
  }
  .summary-title {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .summary-Reaction {
    width: 90%;
    margin-bottom: 20px;
  }
  .summary-Memory {
    width: 90%;
    margin-bottom: 20px;
  }
  .summary-Verbal {
    width: 90%;
    margin-bottom: 20px;
  }
  .summary-Visual {
    width: 90%;
    margin-bottom: 20px;
  }
  .summary-btn {
    display: inline-block;
    margin: 10px 0;
    width: 90%;
    cursor: pointer;
  }
}
